.modale-delete-user {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(128, 128, 128, 0.671);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-modale {
    position: absolute;
    width: 85%;
    max-height: 90%;
    margin-right: 1rem;
    padding: 1.5rem;
    background: white;
    color: rgb(35, 35, 35);
    border-radius: 10px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h1 {
      font-size: 1.5em;
      color: #bb4242;
    }
  }

  .close-btn {
    float: right;
  }

  .yes {
    background-color: rgb(235, 109, 95);
    color: black;
  }

  .yes:hover,
  .yes:focus {
    background-color: rgb(80, 10, 2);
    color: rgb(255, 220, 220);
  }

  .no {
    background-color: rgb(112, 195, 140);
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .content-modale {
    width: 95%;
    margin: 0;
    margin-right: 0rem;
    padding: 2rem 0.5rem 0.5rem 0.5rem;

    h1 {
      line-height: 1.2;
      margin-top: 1rem;
    }

    div {
      display: flex;
      align-items: center;
      flex-direction: column
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.2rem;
    }
  }

  .modale-delete-user {
    .btn-wrapper {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      align-items: center
    }
  }
}